<!-- Copyright (c) 2015 Richa Arora and Kate Fulton All Rights Reserved. -->

<h2>EDIT JUDGE</h2>
<% if current_user && current_user.admin %>
  <%= form_for(@judge) do |f| %>
    <% if @judge.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@judge.errors.count, "error") %> prohibited this judge from being saved:</h2>

        <ul>
        <% @judge.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field row">
      <div class="small-3 columns">
        <%= f.label :name, "NAME", class: "inline right" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "Save Judge", class: "button green-button", data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>

  <%= link_to 'BACK', judges_path %>
<% else %>
  <h3>Sorry. Only admins can add judges.</h3>
<% end %>
