<% if current_user && current_user.admin %>
  <h2>USERS</h2>

  View:
  <%= link_to "All Users", action: :index  %>
  <%= link_to "Users Awaiting Approval", action: :index, approved: :false %>

  <table>
      <thead>
        <td>User Email</td>
        <td>Approved by Admin?</td>
        <td>Edit User</td>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= translate(user.approved.class) %></td>
          <% if user.approved %>
          <td><%= link_to "Remove User", user_path(user), method: :delete %></td>
          <% else %>
          <td><%#= link_to "Approve User", update_user_path(user) %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
  </table>
<% else %>
  <h3>Sorry. Only admins can see this page.</h3>
<% end %>
