<!-- Copyright (c) 2015 Richa Arora and Kate Fulton All Rights Reserved. -->

<%= form_for @client do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>
      <ul>
        <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :a_number, "A#*", class: "right inline required" %>
    </div>
    <div class="small-9 columns">
      <% if @client.new_record? %>
        <%= f.text_field :a_number, placeholder: "XXX-XXX-XXX" %>
      <% else %>
        <%= f.text_field :a_number, placeholder: "XXX-XXX-XXX", disabled: true %>
      <% end %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :last_name, "LAST NAME*", class: "right inline required" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :last_name %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns" >
      <%= f.label :first_name, "FIRST NAME", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :first_name %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :nationality, "NATIONALITY", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.select :nationality, Client::NATIONALITY,
      {include_blank: "Please select"} %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :ethnicity, "ETHNICITY", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.select :ethnicity, Client::ETHNICITY,
      {}, {multiple: true, class: "multiple-selections"} %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :gender, "GENDER", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.select :gender, Client::GENDER, {include_blank: "Please select"} %>
    </div>
  </div>
  <div class="reliefs">
    <% first_relief = true %>
    <%= f.fields_for :client_reliefs, @client.client_reliefs do |relief_f| %>
    <div class="field row relief" id="relief-<%=relief_f.index%>">
      <div class="small-3 columns">
        <% if first_relief
            first_relief = false %>
            <%= relief_f.label :relief_name, "RELIEF SOUGHT",
            class: "right inline" %>
        <% end %>
      </div>
      <div class="small-9 columns">
        <% if !@client.new_record? && relief_f.object.created_at %>
          <div class="existing-relief">
            <%= relief_f.object.relief_name %>
            <span class="check-box">
            <%= relief_f.check_box :_destroy %>
            <%= relief_f.label :_destroy, "Delete Relief", class: 'delete_check_box' %>
            </span>
          </div>
        <% else %>
          <%= relief_f.select :relief_name,
          ReliefSought.order_reliefs.map {|relief| relief.name},
          {include_blank: "Please select"}, class: "relief-options" %>
        <% end %>
        <% if relief_f.index > 0 && !relief_f.object.created_at %>
          <a href='#' class='remove_field'>Remove field</a>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <span class="field row">
    <span class="small-3 columns">
    </span>
    <span class="small-9 columns add-field">
      <a href="#" id="show-relief">Add another Relief Sought</a>
    </span>
  </span>
  <br>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :represented, "REPRESENTED", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.select :represented, Client::REPRESENTED,
      {include_blank: "Please select"} %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :drru_case, "DRRU CASE", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.select :drru_case, [["No", false], ["Yes", true]] %>
    </div>
  </div>
  <div class="assessment_fields">
      <% first_relief = true %>
      <%= f.fields_for :assessments, @client.assessments do |assessment_f| %>
      <div class="field row assessment" id="assessment-<%=assessment_f.index%>">
        <div class="small-3 columns">
          <% if first_relief
              first_relief = false %>
              <%= assessment_f.label :date, "ASSESSMENT DATE*",
              class: "right inline required" %>
          <% end %>
        </div>
        <div class="small-9 columns">
          <% if !@client.new_record? && assessment_f.object.created_at %>
            <%= assessment_f.object.date %>
            <span><%= assessment_f.check_box :_destroy %>
            <%= assessment_f.label :_destroy, "Delete Assessment", class: 'delete_check_box' %></span>
          <% else %>
            <%= assessment_f.date_field :date, class: "date" %>
          <% end %>
          <% if assessment_f.index > 0 && !assessment_f.object.created_at %>
            <a href='#' class='remove_field'>Remove field</a>
          <% end %>
        </div>
      </div>
      <% end %>
  </div>
  <span class="field row">
    <span class="small-3 columns">
    </span>
    <span class="small-9 columns add-field">
      <a href="#" id="show-assessment">Add another Assessment Date</a>
    </span>
  </span>
  <div class="actions">
    <%= f.submit class: "button green-button" %>
  </div>
<% end %>
