<%= form_tag clients_path do %>
  <% if @client_form && @client_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client_form.errors[:client].count, "error") %> prohibited this client from being saved:</h2>

      <% if !@client_form.errors[:client].nil? %>
        <ul>
        <% @client_form.errors[:client].messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      <% end %>

      <% if !@client_form.errors[:client_relief].nil? %>
        <ul>
          <% @client_form.errors[:client_relief].messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <% if !@client_form.errors[:assessment].nil? %>
        <ul>
          <% @client_form.errors[:assessment].messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag "client_form[last_name]", "Last Name" %><br>
    <%= text_field_tag "client_form[last_name]" %>
  </div>
  <div class="field">
    <%= label_tag "client_form[first_name]", "First Name" %><br>
    <%= text_field_tag "client_form[first_name]" %>
  </div>
  <div class="field">
    <%= label_tag "client_form[a_number]", "A Number" %><br>
    <%= text_field_tag "client_form[a_number]" %>
  </div>
  <div class="field">
    <%= label_tag "client_form[nationality]", "Nationality" %><br>
    <%= text_field_tag "client_form[nationality]" %>
  </div>
  <div class="field">
    <%= label_tag "client_form[ethnicity]", "Ethnicity" %><br>
    <%= text_field_tag "client_form[ethnicity]" %>
  </div>
  <div class="field">
    <%= label_tag "client_form[gender]", "Gender" %><br>
    <%= text_field_tag "client_form[gender]" %>
  </div>
  <div class="field">
    <%= label_tag "client_form[relief_sought][]", "Relief Sought" %><br>
    <%= text_field_tag "client_form[relief_sought][]" %>
    <%= text_field_tag "client_form[relief_sought][]" %>
    <%= text_field_tag "client_form[relief_sought][]" %>
    <%= text_field_tag "client_form[relief_sought][]" %>
    <%= text_field_tag "client_form[relief_sought][]" %>
  </div>
  <div class="field">
    <%= label_tag "client_form[represented]", "Represented" %><br>
    <%= check_box_tag "client_form[represented]"%>
  </div>
  <div class="field">
    <%= label_tag "client_form[drru_case]", "Drru Case" %><br>
    <%= check_box_tag "client_form[drru_case]" %>
  </div>
  <div class="field">
    <%= label_tag "client_form[assessment]", "Assessment" %><br>
    <%= date_field_tag "client_form[assessment]" %>
  </div>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
