<%= form_for(@client_form, url: clients_path) do |f| %>
  <% if @client_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client_form.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :a_number %><br>
    <%= f.text_field :a_number %>
  </div>
  <div class="field">
    <%= f.label :nationality %><br>
    <%= f.select :nationality, options_for_select(Client::NATIONALITY), {include_blank: "Please select"} %>
  </div>
  <div class="field">
    <%= f.label :ethnicity %><br>
    <%= f.text_field :ethnicity %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select :gender, options_for_select(Client::GENDER), {include_blank: "Please select"} %>
  </div>
  <div class="field">
    <%= f.label :represented %><br>
    <%= f.check_box :represented %>
  </div>
  <div class="field">
    <%= f.label :drru_case %><br>
    <%= f.check_box :drru_case %>
  </div>
  <div class="field">
    <%= f.label :relief_name %><br>
    <%= f.text_field :relief_name %>
    <%= f.text_field :relief_name %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
