<%= form_for(@client_form, url: clients_path) do |f| %>
  <% if @client_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client_form.errors.count, "error") %> prohibited this client from being saved:</h2>
      <ul>
      <% @client_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :last_name, "Last Name", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :last_name %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns" >
      <%= f.label :first_name, "First Name", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :first_name %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :a_number, "A Number", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :a_number %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :nationality, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.select :nationality, options_for_select(Client::NATIONALITY),
      {include_blank: "Please select"} %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :ethnicity, class: "right inline" %><br>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :ethnicity %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :gender, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.select :gender, options_for_select(Client::GENDER),
      {include_blank: "Please select"} %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :represented, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <label><%= f.check_box :represented %><span class="label-text"></span></label>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :drru_case, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <label><%= f.check_box :drru_case %><span class="label-text"></span></label>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :relief_name, "Relief Sought", class: "right inline" %>
    </div>
    <div class="small-6 columns relief_field">
    </div>
      <a href="#" id="add_field">Add another field</a>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :date, "Assessment Date", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.date_field :date %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Create Client", class: "button round" %>
  </div>
<% end %>
