<!-- Copyright (c) 2015 Richa Arora and Kate Fulton All Rights Reserved. -->

<h2>CLIENTS</h2>
<% @clients.each do |client| %>
  <table role="grid" summary="Clients">
      <tr>
        <th>A# NUMBER</th>
        <th>LAST NAME</th>
        <th>FIRST NAME</th>
        <th>NATIONALITY</th>
        <th>ETHNICITY</th>
      </tr>
      <tr>
        <td><%= link_to client.a_number, client, class: "update-link" %></td>
        <td><%= client.last_name %></td>
        <td><%= client.first_name %></td>
        <td><%= client.nationality %></td>
        <td><%= client.ethnicity.join("<br>").html_safe %></td>

      </tr>
      <tr>
        <th>GENDER</th>
        <th>RELIEF SOUGHT</th>
        <th>REPRESENTED</th>
        <th>DRRU CASE</th>
        <th>ASSESSMENTS</th>
      </tr>
      <tr>
        <td><%= client.gender %></td>
        <td>
          <% client.client_reliefs.each do |relief| %>
            <div><%= relief.relief_name %></div>
          <% end %>
        </td>
        <td><%= client.represented %></td>
        <td><%= translate(client.drru_case.class) %></td>
        <td>
          <% client.assessments.each do |assessment| %>
            <div><%= (assessment.date).strftime("%D") %></div>
          <% end %>
        </td>
      </tr>
  </table>
  <div>
</div>
<% end %>


<!-- <div class="panel">
  <table role="grid" summary="Client">
    <tr>
      <th>A#</th>
      <td><%#=link_to client.a_number, client %></td>
    </tr>
    <tr>
      <th>LAST NAME</th>
      <td><%#= client.last_name %></td>
    </tr>
    <tr>
      <th>FIRST NAME</th>
      <td><%#= client.first_name %></td>
    </tr>
    <tr>
      <th>NATIONALITY</th>
      <td><%#= client.nationality %></td>
    </tr>
    <tr>
      <th>ETHNICITY</th>
      <td><%#= client.ethnicity.join("<br>").html_safe %></td>
    </tr>
    <tr>
      <th>GENDER</th>
      <td><%#= client.gender %></td>
    </tr>
    <tr>
      <th>RELIEF SOUGHT</th>
      <td>
        <%# client.client_reliefs.each do |relief| %>
          <div><%#= relief.relief_name %></div>
        <%# end %>
      </td>
    </tr>
    <tr>
      <th>REPRESENTED</th>
      <td><%#= client.represented %></td>
    </tr>
    <tr>
      <th>DRRU CASE</th>
      <td><%#= translate(client.drru_case.class) %></td>
    </tr>
    <tr>
      <th>ASSESSMENT DATE(S)</th>
      <td>
        <%# client.assessments.each do |assessment| %>
          <div><%#= (assessment.date).strftime("%D") %></div>
        <%# end %>
      </td>
    </tr>
  </table>

</div> -->
