<p id="notice"><%= notice %></p>

<h2>CLIENT: <%= @client.full_name %></h2>
<div class="panel">
  <table role="grid" summary="Client">
      <tr>
        <th>A# NUMBER</th>
        <th>LAST NAME</th>
        <th>FIRST NAME</th>
        <th>NATIONALITY</th>
        <th>ETHNICITY</th>
      </tr>
      <tr>
        <td><%= @client.a_number %></td>
        <td><%= @client.last_name %></td>
        <td><%= @client.first_name %></td>
        <td><%= @client.nationality %></td>
        <td><%= @client.ethnicity.join("<br>").html_safe %></td>
      </tr>
      <tr>
        <th>GENDER</th>
        <th>RELIEF SOUGHT</th>
        <th>REPRESENTED</th>
        <th>DRRU CASE</th>
        <th>ASSESSMENTS</th>
      </tr>
      <tr>
        <td><%= @client.gender %></td>
        <td>
          <% @client.client_reliefs.each do |relief| %>
            <div><%= relief.relief_name %></div>
          <% end %>
        </td>
        <td><%= @client.represented %></td>
        <td><%= translate(@client.drru_case.class) %></td>
        <td>
          <% @client.assessments.each do |assessment| %>
            <div><%= (assessment.date).strftime("%D") %></div>
          <% end %>
        </td>
      </tr>
  </table>
  <%= link_to "EDIT CLIENT", edit_client_path(@client), class: "update-link" %>
</div>

<div class="panel">
<% @client.convictions.each_with_index do |conviction, index| %>
  <h3><%=link_to "Conviction #{index + 1}", client_conviction_path(@client, conviction) %></h3>
  <table role="grid" summary="Conviction">
      <tr>
        <th>CRIME NAME</th>
        <th>STATE CRIME COMMITTED</th>
        <th>RCW</th>
        <th>SUBSECTION</th>
        <th>DV ON ROC</th>
      </tr>
      <tr>
        <td><%= conviction.crime_name %></td>
        <td><%= conviction.state_committed %></td>
        <td><%= conviction.rcw %></td>
        <td><%= conviction.subsection %></td>
        <td><%= translate(conviction.dv_on_roc.class) %></td>
      </tr>
      <tr>
        <th>SENTENCE (IN DAYS)</th>
        <th>IMMIGRATION JUDGE (IJ)</th>
        <th>NTA CHARGES</th>
        <th>IJ DECISION DATE</th>
        <th>IJ FINDING</th>
      </tr>
      <tr>
        <td><%= conviction.sentence %></td>
        <td><%= conviction.ij_name %></td>
        <td><%= conviction.nta_charges %></td>
        <td><%= conviction.ij_decision_date ? (conviction.ij_decision_date).strftime("%D") : nil %></td>
        <td><%= conviction.ij_finding %></td>
      </tr>
      <% unless conviction.notes.blank? %>
        <tr>
          <th>ADDITIONAL NOTES</th>
        </tr>
        <tr>
          <td><%= conviction.notes %></td>
        </tr>
      <% end %>
  </table>
  <table role="grid" summary="Conviction Grounds of Removability">
    <% conviction.conviction_grounds.each do |ground| %>
    <tr>
      <th><%= ground.gor_name %></th>
      <td><%= ground.status %></td>
    </tr>
    <% end %>
  </table>
  <%= link_to "EDIT CONVICTION", edit_client_conviction_path(@client, conviction), class: "update-link"%>
<% end %>
</div>
<%= link_to "Add Conviction", new_client_conviction_path(@client.id), class: "button green-button" %>
