<p id="notice"><%= notice %></p>
<p>
  <strong>Last name:</strong>
  <%= @client.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @client.first_name %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @client.nationality %>
</p>

<p>
  <strong>Ethnicity:</strong>
  <%= @client.ethnicity %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @client.gender %>
</p>

<p>
  <strong>Relief sought:</strong>
  <% @client.client_reliefs.each do |relief| %>
    <%= relief.relief_name %>
  <% end %>
</p>

<p>
  <strong>Represented:</strong>
  <%= translate(@client.represented.class) %>
</p>

<p>
  <strong>Drru case:</strong>
  <%= translate(@client.drru_case.class) %>
</p>

<p>
  <strong>A number:</strong>
  <%= @client.a_number %>
</p>

<p>
  <strong>Assessment:</strong>
  <% @client.assessments.each do |assessment| %>
  <%= assessment.date %>
  <% end %>
</p>

<%= link_to "Add Conviction", new_client_conviction_path(@client.id) %>
<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
