<h1>Listing grounds_for_removabilities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grounds_for_removabilities.each do |grounds_for_removability| %>
      <tr>
        <td><%= grounds_for_removability.name %></td>
        <td><%= link_to 'Show', grounds_for_removability %></td>
        <td><%= link_to 'Edit', edit_grounds_for_removability_path(grounds_for_removability) %></td>
        <td><%= link_to 'Destroy', grounds_for_removability, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grounds for removability', new_grounds_for_removability_path %>
