<%= form_for(@conviction, url: client_convictions_path) do |f| %>
  <% if @conviction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conviction.errors.count, "error") %> prohibited this conviction from being saved:</h2>
      <ul>
      <% @conviction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :crime_name, "CRIME NAME*", class: "right inline required" %>
    </div>
    <div class="small-6 columns">
      <%= f.select :crime_name, Conviction.all_crime_names,
      {include_blank: "Please select"}, class: "crime_name_group" %>
    </div>
    <a href="#" id="add_crime_name">Enter another crime name</a>
    <div class="small-9 columns crime_name_field">
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :state_committed, "STATE CRIME COMMITTED", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.select :state_committed, Conviction::STATE_COMMITTED,
      {include_blank: "Please select"} %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :rcw, "RCW", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :rcw, placeholder: "9a.XX.XXX" %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :subsection, "SUBSECTION", class: "right inline" %>
    </div>
    <div class="small-6 columns">
      <%= f.select :subsection, Conviction.all_subsections,
      {include_blank: "Please select"}, class: "subsection_group" %>
    </div>
    <a href="#" id="add_subsection">Enter another subsection</a>
    <div class="small-9 columns subsection_field">
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :dv_on_roc, "DV ON ROC", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <label><%= f.check_box :dv_on_roc %><span class="label-text"></span></label>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :sentence, "SENTENCE", class: "right inline" %>
    </div>
    <div class="small-9 columns sentence">
      <%= f.number_field :sentence, min: 0 %>
      <% if @conviction.sentence %>
        <%= f.select :sentence_unit, ["Sentence Unknown", "Day(s)", "Month(s)", "Year(s)"],
      selected: "Day(s)" %>
      <% else %>
        <%= f.select :sentence_unit, ["Sentence Unknown", "Day(s)", "Month(s)", "Year(s)"] %>
      <% end %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :ij_name, "IMMIGRATION JUDGE (IJ)", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.select :ij_name, Conviction::IJ_NAME, {include_blank: "Please select"} %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :nta_charges, "NTA CHARGES", class: "right inline" %>
    </div>
    <div class="small-6 columns">
      <%= f.select :nta_charges, Conviction.all_nta_charges,
      {include_blank: "Please select"}, class: "nta_charges_group" %>
    </div>
    <a href="#" id="add_nta_charges">Enter another subsection</a>
    <div class="small-9 columns nta_charges_field">
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :ij_decision_date, "IJ DECISION DATE", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.date_field :ij_decision_date %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :ij_finding, "IJ FINDING", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_area :ij_finding %>
    </div>
  </div>
  <%= f.fields_for :conviction_grounds do |builder| %>
  <div class="field row">
    <div class="small-3 columns">
      <%= builder.label :gor_name, builder.object.gor_name, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= builder.hidden_field :gor_name, value: builder.object.gor_name %>
      <%= builder.select(:status, ConvictionGround::STATUS_OPTION, :include_blank => "Please Select")  %>
    </div>
  </div>
  <% end %>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :notes, "ADDITIONAL NOTES", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_area :notes, row: 3 %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Create Conviction", class: "button round center" %>
  </div>
<% end %>
