<%= form_for(@conviction, url: client_convictions_path) do |f| %>
  <% if @conviction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conviction.errors.count, "error") %> prohibited this conviction from being saved:</h2>

      <ul>
      <% @conviction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :crime_name, "Crime Name", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :crime_name %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :rcw, "RCW", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :rcw %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :subsection, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :subsection %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :sentence, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.number_field :sentence, min: 0 %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :ij_name, "Immigration Judge (IJ) Name", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :ij_name %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :nta_charges, "NTA Charges", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :nta_charges %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :ij_decision_date, "IJ Decision Date", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.date_field :ij_decision_date %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :ij_finding, "IJ Finding", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :ij_finding %>
    </div>
  </div>
  <%= f.fields_for :conviction_grounds do |builder| %>
  <div class="field row">
    <div class="small-3 columns">
      <%= builder.label :gor_name, builder.object.gor_name, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= builder.hidden_field :gor_name, value: builder.object.gor_name %>
      <%= builder.select(:status, ConvictionGround::STATUS_OPTION, :include_blank => "Please Select")  %>
    </div>
  </div>
  <% end %>

  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :notes, "Additional Notes", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_area :notes, row: 3 %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Create Conviction", class: "button round center" %>
  </div>
<% end %>
