<%= form_tag client_convictions_path do |f| %>
  <% if @conviction_form && @conviction_form.errors.any? %>
    <% if @conviction_form.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@conviction_form.errors.count, "error") %> prohibited this conviction from being saved:</h2>

        <ul>
        <% @conviction_form.errors[:conviction].messages.each do |key, message| %>
          <li><%=key %> <%= message[0] %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

  <div class="field">
    <%= label_tag "conviction_form[crime_name]", "Crime Name" %><br>
    <%= text_field_tag "conviction_form[crime_name]", @conviction_form && @conviction_form.attributes ? @conviction_form.attributes[:crime_name] : nil, {placeholder: "Crime Name"} %>
  </div>
  <div class="field">
    <%= label_tag "conviction_form[rcw]", "RCW" %><br>
    <%= text_field_tag "conviction_form[rcw]", @conviction_form && @conviction_form.attributes ? @conviction_form.attributes[:rcw] : nil, {placeholder: "RCW"} %>
  </div>
  <div class="field">
    <%= label_tag "conviction_form[subsection]", "Subsection" %><br>
    <%= text_field_tag "conviction_form[subsection]", @conviction_form && @conviction_form.attributes ? @conviction_form.attributes[:subsection] : nil, {placeholder: "Subsection"} %>
  </div>
  <div class="field">
    <%= label_tag "conviction_form[sentence]", "Sentence (in days)" %><br>
    <%= number_field_tag "conviction_form[sentence]", @conviction_form && @conviction_form.attributes ? @conviction_form.attributes[:crime_name] : nil, {placeholder: "Sentence in days", min: 0 } %>
  </div>
  <div class="field">
    <%= label_tag "conviction_form[ij_name]", "IJ Name" %><br>
    <%= text_field_tag "conviction_form[ij_name]", @conviction_form && @conviction_form.attributes ? @conviction_form.attributes[:ij_name] : nil, {placeholder: "IJ Name"} %>
  </div>
  <div class="field">
    <%= label_tag "conviction_form[nta_charges]", "NTA Charges" %><br>
    <%= text_field_tag "conviction_form[nta_charges]", @conviction_form && @conviction_form.attributes ? @conviction_form.attributes[:nta_charges] : nil, {placeholder: "NTA Charges"} %>
  </div>
  <div class="field">
    <%= label_tag "conviction_form[ij_decision_date]", "IJ Decision Date" %><br>
    <%= date_field_tag "conviction_form[ij_decision_date]", @conviction_form && @conviction_form.attributes ? @conviction_form.attributes[:ij_decision_date] : nil, {placeholder: "mm/dd/yyyy"} %>
  </div>
  <div class="field">
    <%= label_tag "conviction_form[ij_finding]", "IJ Finding" %><br>
    <%= text_field_tag "conviction_form[ij_finding]", @conviction_form && @conviction_form.attributes ? @conviction_form.attributes[:ij_finding] : nil, {placeholder: "IJ Finding"} %>
  </div>
  <p>Grounds of Removability</p>
  <% @removability_grounds.each do |ground| %>
  <div class="field">
    <%= label_tag "conviction_form[removability_grounds][#{ground.name}]", "#{ground.name}" %><br>
    <%= select_tag "conviction_form[removability_grounds][#{ground.name}]", options_for_select([['Yes', 'Yes'], ['No', 'No'], ['Finding Not Found', 'Finding Not Found']]), { include_blank: @conviction_form && @conviction_form.attributes[:removability_grounds][ground.name.to_sym] ? @conviction_form.attributes[:removability_grounds][ground.name.to_sym] : nil } %>
  </div>
  <% end %>
  <p>Additional Notes</p>
  <div class="field">
    <%= label_tag "conviction_form[notes]", "Notes" %><br>
    <%= text_area_tag "conviction_form[notes]", @conviction_form && @conviction_form.attributes ? @conviction_form.attributes[:notes] : nil, {placeholder: "Add comments or notes"} %>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
