
<%= form_for(@conviction, url: client_convictions_path) do |f| %>
  <% if @conviction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conviction.errors.count, "error") %> prohibited this conviction from being saved:</h2>

      <ul>
      <% @conviction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :crime_name, "CRIME NAME*", class: "right inline required" %>
    </div>
    <div class="small-9 columns">
      <%= f.select :crime_name, options_for_select(Conviction.all_crime_names,
      params[:conviction] ? params[:conviction][:crime_name] : nil),
      {include_blank: "Please select"} %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :rcw, "RCW", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :rcw, placeholder: "9a.XX.XXX" %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :subsection, "SUBSECTION", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.select :subsection, options_for_select(Conviction.all_subsections,
      params[:conviction] ? params[:conviction][:subsection] : nil),
      {include_blank: "Please select"} %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :sentence, "SENTENCE", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.number_field :sentence %>
      <%= f.select :sentence_unit, options_for_select(["Year(s)", "Month(s)","Day(s)"]),
      {include_blank: "Please select"}%>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :state_committed, "STATE CRIME COMMITTED", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.select :state_committed, options_for_select(Conviction::STATE_COMMITTED,
      params[:conviction] ? params[:conviction][:state_committed] : nil),
      {include_blank: "Please select"} %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :ij_name, "IMMIGRATION JUDGE (IJ)", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.select :ij_name, options_for_select(Conviction::IJ_NAME,
      params[:conviction] ? params[:conviction][:ij_name] : nil),
      {include_blank: "Please select"} %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :nta_charges, "NTA CHARGES", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.select :nta_charges, options_for_select(Conviction.all_nta_charges,
      params[:conviction] ? params[:conviction][:nta_charges] : nil),
      {include_blank: "Please select"} %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :ij_decision_date, "IJ DECISION DATE", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.date_field :ij_decision_date %>
    </div>
  </div>
  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :ij_finding, "IJ FINDING", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :ij_finding %>
    </div>
  </div>
  <%= f.fields_for :conviction_grounds do |builder| %>
  <div class="field row">
    <div class="small-3 columns">
      <%= builder.label :gor_name, builder.object.gor_name, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= builder.hidden_field :gor_name, value: builder.object.gor_name %>
      <%= builder.select(:status, ConvictionGround::STATUS_OPTION, :include_blank => "Please Select")  %>
    </div>
  </div>
  <% end %>

  <div class="field row">
    <div class="small-3 columns">
      <%= f.label :notes, "ADDITIONAL NOTES", class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_area :notes, row: 3 %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Create Conviction", class: "button round center" %>
  </div>
<% end %>
