<!-- Copyright (c) 2015 Richa Arora and Kate Fulton All Rights Reserved. -->

<h1>Listing convictions</h1>

<table>
  <thead>
    <tr>
      <th>Crime name</th>
      <th>Statute of Conviction</th>
      <th>Subsection</th>
      <th>Sentence Length</th>
      <th>Sentence Type</th>
      <th>Ij name</th>
      <th>Nta charges</th>
      <th>Ij decision date</th>
      <th>Ij finding</th>
      <th>Client</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @convictions.each do |conviction| %>
      <tr>
        <td><%= conviction.crime_name %></td>
        <td><%= conviction.statute_of_conviction %></td>
        <td><%= conviction.subsection %></td>
        <td><%= conviction.sentence %></td>
        <td><%= conviction.sentence_type %></td>
        <td><%= conviction.ij_name %></td>
        <td><%= conviction.nta_charges %></td>
        <td><%= conviction.ij_decision_date %></td>
        <td><%= conviction.ij_finding %></td>
        <td><%= conviction.client_id %></td>
        <td><%= conviction.notes %></td>
        <td><%= link_to 'Show', client_conviction(conviction.client.id, conviction) %></td>
        <td><%= link_to 'Edit', edit_client_conviction_path(conviction.client.id, conviction) %></td>
        <td><%= link_to 'Destroy', client_conviction(conviction.client.id, conviction), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conviction', new_conviction_path %>
