<%= form_for(@conviction_ground, url: client_conviction_conviction_grounds_path) do |f| %>

  <%= @conviction_grounds.each do |cg| %>
      <div class="field">
        <%= f.label :gor_name, cg.gor_name %><br>
        <%= f.text_field :gor_name %>
      </div>
      <div class="field">
        <%= f.label :status %><br>
        <%= f.select(:status, ConvictionGround::STATUS_OPTION, :include_blank => "Please Select")  %>
      </div>
      <% end %>
      <div class="actions">
        <%= f.submit %>
      </div>
<% end %>
