<h1>Listing conviction_grounds</h1>

<table>
  <thead>
    <tr>
      <th>Gor name</th>
      <th>Conviction</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conviction_grounds.each do |conviction_ground| %>
      <tr>
        <td><%= conviction_ground.gor_name %></td>
        <td><%= conviction_ground.conviction_id %></td>
        <td><%= conviction_ground.status %></td>
        <td><%= link_to 'Show', client_conviction_conviction_grounds_path %></td>
        <td><%= link_to 'Edit', edit_client_conviction_conviction_ground_path(conviction_ground) %></td>
        <td><%= link_to 'Destroy', conviction_ground, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conviction ground', new_conviction_ground_path %>
