<h2>SEARCH DATABASE</h2>

<%= search_form_for(
  @search,
  url: advanced_search_path,
  html: { method: :post }
  ) do |f| %>

  <% setup_search_form f %>

  <fieldset class="hidden">
    <legend>Sorting</legend>
    <%= f.sort_fields do |s| %>
      <%= render 'sort_fields', f: s %>
    <% end %>
    <%= button_to_add_fields "Add Sort", f, :sort %>
  </fieldset>

  <fieldset>
    <legend>SEARCH CONDITIONS</legend>
    <%= f.condition_fields do |g| %>
      <%= render 'condition_fields', f: g %>
    <% end %>
    <%= button_to_add_fields "Add New Condition", f, :condition %>
  </fieldset>

  <div class="panel">
    <h3>SEARCH:</h3>
    <div class="radio">
      <%= radio_button_tag "choice", "client", checked = params[:choice] && params[:choice] == "client" ? true : false %>
      <%= label_tag "choice", "CLIENTS", class: "search-option" %>
    </div>
    <div class="radio">
      <%= radio_button_tag "choice", "conviction", checked = params[:choice] && params[:choice] != "conviction" ? false : true %>
      <%= label_tag "choice", "CONVICTIONS", class: "search-option" %>
    </div>
  </div>
  <div class="panel">
    <%= check_box_tag :distinct, '1', params[:distinct].to_i == 1 %>
    <%= label_tag :distinct, 'Return distinct records?' %>
  </div>
  <%= f.submit "Search Database", class: "button green-button big-button" %>
<% end %>
<% if @clients %>
  <%= render 'client_results' %>
<% elsif @convictions %>
  <%= render 'conviction_results' %>
<% end %>
