<!-- Copyright (c) 2015 Richa Arora and Kate Fulton All Rights Reserved. -->

<%= form_for(@removability_ground) do |f| %>
  <% if @removability_ground.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@removability_ground.errors.count, "error") %> prohibited this removability_ground from being saved:</h2>

      <ul>
      <% @removability_ground.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
