<h1>Listing removability_grounds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @removability_grounds.each do |removability_ground| %>
      <tr>
        <td><%= removability_ground.name %></td>
        <td><%= link_to 'Show', removability_ground %></td>
        <td><%= link_to 'Edit', edit_removability_ground_path(removability_ground) %></td>
        <td><%= link_to 'Destroy', removability_ground, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Removability ground', new_removability_ground_path %>
