<<<<<<< HEAD
<!-- Copyright (c) 2015 Richa Arora and Kate Fulton All Rights Reserved. -->

<h1>New removability_ground</h1>
=======
<h2>ADD REMOVABILITY GROUND</h2>
>>>>>>> master

<% if current_user && current_user.admin %>
  <%= form_for(@removability_ground) do |f| %>
    <% if @removability_ground.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@removability_ground.errors.count, "error") %> prohibited this removability_ground from being saved:</h2>

        <ul>
        <% @removability_ground.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field row">
      <div class="small-3 columns">
        <%= f.label :name, "NAME", class: "inline right" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "Create Removability Ground", class: "button green-button" %>
    </div>
  <% end %>

  <%= link_to 'BACK', removability_grounds_path %>
<% else %>
  <h3>Sorry. Only admins can add removability grounds.</h3>
<% end %>
