<!-- Copyright (c) 2015 Richa Arora and Kate Fulton All Rights Reserved. -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NWIRPDataCapture</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript">
       $(function() {
         <%= yield :document_ready %>
       });
   </script>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div>
      <nav role="navigation" class="top-bar" data-topbar>
        <ul class="title-area">
          <li class-"name"></li>
          <li class="toggle-topbar menu-icon"><a href="#">MENU</a></li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Add Client", new_client_path %></li>
            <li><%= link_to "Find Client", find_clients_path %>
            <li><%= link_to "Search Database", advanced_search_path %></li>
          </ul>
        </section>
      </nav>
    </div>
    <div class="columns small-12">
      <div class="row top-div">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
